.alert {
    width: 70%;
    background-color: #f2f2f2;
    margin: 200px auto;
}

.alert-msg {
    width: 90%;
    background-color: #f2f2f2;
}

.alert-msg-container {
    width: 90%;
}

body {
    height: 100%;
}

.App {
    width: 100%;
    height: 100%;
    position: fixed;
/*    left: 0px;*/
/*    top: 0px;*/
/*    z-index: -1;*/
}